<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img src="../../assets/eu.png" width="300px" />
      <ion-card-header>
        <ion-card-title>Jean Duarte</ion-card-title>
        <ion-card-subtitle>Turma: ADS0303N</ion-card-subtitle>
      </ion-card-header>

    </ion-card>
  </div>
</ion-content>